<div id="quote_wrapper">
	<div id="main_quote">
		Now, group travel is easier than ever.
	</div>
	<div id="sub_quote">
		Plan an event, invite your group, pick a hotel & book!
		<a href="JavaScript:void(0);" class="button_action orange_action">Learn More</a>
	</div>	
</div>
<div id="step_wrapper">
	<div id="step_inner">
		<div id="step_header">
			<div id="steps_wrap">
				<div class="step" style="text-align:left;width:185px;">
					<div class="step_image" id="step_1_active"></div>
					<div class="clr"></div>
					Plan Event
				</div>
				<div class="step" style="text-align:center;">
					<div class="step_image" id="step_2_inactive"></div>
					Invite Guests
				</div>
				<div class="step" style="text-align:right;width:195px;">
					<div class="step_image" id="step_3_inactive"></div>
					<div class="clr"></div>
					Hotel Selection
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div id="step_main">
			<div id="step_box">
				<div id="loops_wrap">
					<div class="loop" style="float:left;"></div>
					<div class="loop" style="float:right;"></div>
					<div class="clr"></div>
				</div>
				<%= form_for @trip do |form| %>
				<div id="step_box_content">
						<div class="input_names">
							<div class="name"><%= form.label :name, "Name:" %></div>
							<div class="name"><%= form.label :destination, "Where:" %></div>
							<div class="name">When:</div>
						</div>
						<div class="input_boxes">
							<%= form.text_field :name, :placeholder => "ie. Ben's Ski Trip" %>
							<%= form.text_field :destination, :placeholder => "ie. Colorado" %>
						</div>	
						<div class="clr"></div>
						<div id="datepicker_wrap">
							<div id="trip_starts_on_picker"></div>
							<div id="trip_ends_on_picker"></div>
							<%= form.hidden_field :starts_on %>
							<%= form.hidden_field :ends_on %>
							<div class="clr"></div>
						</div>								
						<div class="clr"></div>
					</div>
					<div id="step_box_footer" style="padding:10px 160px 0;">
						Let's do this...
						<%= form.submit "Invite Guests", :class => "button_action blue_action", :style => "float:right" %> 
					</div>
				<% end %>	
			</div>
		</div>
	</div>
</div>

