
<!--START SHOW TRIP HTML****************************************************-->
<div id="trip_header">
	<div id="trip_header_inner">
		<div id="trip_name">
			Trip: <%= @trip.name %>
		</div>

	</div>
</div>
<div id="trip_details_wrapper">
	<div id="trip_details_inner">
		<div class="trip_column" id="left_column">
	 		<div class="trip_select_container">
				<%= form_tag('#', :method=>'get', :multipart => false) do %>
				 <%= select_tag("Trip", options_from_collection_for_select(@trips, "id", "name", @trip.id)) %>
				 <%= link_to "New", root_path %>
				<% end %>
			
				
			</div>
			
			<div class="content_box">
				<div class="content_header">
					Trip Info
				</div>
				<div class="content">
					<div class="content_row">
					
						<span class="title">Name:</span><%= "#{@trip.name}"  %>
					</div>
					<div class="content_row">
						<span class="title">City:</span><%= @trip.destination %>
					</div>
					<div class="content_row">
						<span class="title">Starts:</span><%= @trip.starts_on %>
					</div>
					<div class="content_row">
						<span class="title">Ends:</span><%= @trip.ends_on %>
					</div>
				</div>
			</div>
			<div class="content_box">
				<div class="content_header">
					Guest List
				</div>
				<div class="content">
					<% @guests.each do |guest| %>
						<div class="content_row">
							<%= guest.email %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="trip_column" id="middle_column">
			<div id="message_wrapper">
				<div id="message_header">
					<%= form_for @message, :url => messages_url(:id => @trip.id) do |form| %>
					<%= form.text_field :text, :placeholder => "Post a message" %>
					<%= form.submit "Post", :class => "blue_action button_action" %>
					<% end %>
				</div>
				<div id="message_content">
					<% @messages.each do |message|%>
					<div class="comment_box">
						<span class="name"><%= message.user.email %> says: </span><%= message.text %>
						<span class="time"><%= time_ago_in_words(message.created_at) %> ago</span>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="trip_column" id="right_column">
			<div class="content_box">
				<div class="content_header">
					Lodging List
				</div>
				<ul class="content">
					<% @hotels.each do |h|%>
						<li>
							<%= 	render(	:partial => "/trips/hotel_thumbnail", 
											:locals => { :object => h})%>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="clr"></div>
	</div>		
</div>
	





	
	




